.container {
    background: url("../../assets/hero-background.png") center/contain no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 95%;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 900px) {
    .container {
        background-size: cover;
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: calc(var(--header-height) + 5rem);
}

.search h1 {
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 0.5rem
}

.search p {
    font-size: 0.875rem;
    margin-bottom: 1.5rem
}

.search_input {
    position: relative;
}

.search_input input {
    padding: 1rem;
    border: 1px solid var(--light-grey);
    min-width: 100%;
    max-width: 500px;
    width: 50vw;
    border-radius: 5px;
    font-size: 0.875rem;

}

.search_icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.search input::placeholder {
    color: var(--dark-grey);
}

.search input:focus-visible {
    outline: 2px solid var(--black);
}